.sidebar {
  display: flex;
  flex: 0.35;
  flex-direction: column;
}
.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 1px solid lightgray;
}
.sidebar_headerRight {
  display: flex;
  align-items: center;
  min-width: 10vw;
  justify-content: space-between;
}
.sidebar_search {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 39px;
  background-color: #f6f6f6;
}
.sidebar_searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 35px;
  border-radius: 20px;
}
.sidebar_searchContainer > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}
.sidebar_chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}
