.sidebar {
  display: flex;
  flex: 0.35;
  flex-direction: column;
}
.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 1px solid lightgray;
}
.sidebar_headerRight {
  display: flex;
  align-items: center;
  min-width: 10vw;
  justify-content: space-between;
}
