.app {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: #dadbd3;
}
.app_body {
  display: flex;
  background-color: #ededed;
  margin-top: -50px;
  height: 95vh;
  margin-top: 5px;
  width: 95vw;
  box-shadow: rgba(77, 75, 75, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
